{% extends "base.html.twig" %}

{% block title %}Delete issue #{{ issue.id }}
{% endblock %}

{% block body %}
	<h1>Delete an issue</h1>

	{% if issue.resolutionStatus == 1 %}
		<p>You cannot delete this issue, as it has already been solved<br>See the details
			<a href="{{ path("app_details_showdetails", {"id": issue.id}) }}">here</a>
		</p>
	{% else %}
		<form method="POST" action=""{{ path("app_delete_deleteissue", {"id": issue.id}) }}>
			<p>
				<strong>Are you sure you want to delete the following issue?</strong>
			</p>
			<p>
				<strong>ID:</strong>
				{{ issue.id }}
			</p>
			<p>
				<strong>Title:</strong>
				{{ issue.title }}
			</p>
			<p>
				<strong>Description:</strong>
				{{ issue.description|nl2br }}
			</p>
			<p>
				<strong>Submitted on:</strong>
				{{ issue.submissionDate|date}}
			</p>
			<p>
				<strong>Last modified on:</strong>
				{{ issue.modificationDate|date }}
			</p>
			<button type="submit">Delete</button>
		</form>
		<a href="{{ path ("app_home_showissues")}}">
			<button>Cancel</button>
		</a>
	{% endif %}

{% endblock %}
