<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://cdn.discordapp.com/attachments/941294676324008009/948250479824105523/main.css">-->
    <title>Issues</title>
</head>

<body>
    <h1>Issues</h1>
    <p>Create a new issue <a href="new">here</a></p>
    <p>Do a <a href="vardump?id=12">var dump</a></p>

    <div>
        <table style="text-align: center;">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Submitted on</th>
                <th>Last modified on</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

            {%for id, issue in issues%}
            <tr>
                <td>{{ id + 1 }}</td>
                <td>{{ issue.title }}</td>
                <td>{{ issue.submissionDate|date }}</td>

                {% if issue.modificationDate == null %}
                <td>Never</td>
                {% else %}
                <td>{{ issue.modificationDate|date }}</td>
                {% endif %}
                
                {% if issue.resolutionStatus == true %}
                <td>Solved<br>({{ issue.resolutionDate|date }})</td>
                <td><a href="/issues/{{id}}">Details</a></td>
                {% else %}
                <td>Not solved</td>
                <td>
                    <a href="issues/update/{{id}}">Update</a><br>
                    <a href="issues/deleteid/{{id}}">Delete</a><br>
                    <a href="issues/forceDelete/{{id}}">Force delete</a><br>
                    <a href="issues/solve/{{id}}">Solve</a><br>
                    <a href="/issues/{{id}}">Details</a>
                </td>
                {% endif %}
                
            </tr>
            {%endfor%}
        </table>
    </div>

</body>

</html>