{% extends "base.html.twig" %}

{% block board %}
<table class="pure-table pure-table-bordered pure-table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Submitted on</th>
            <th>Last modified on</th>
            <th>Severity</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <td>{{ issue.id }}</td>
            <td>{{ issue.title }}</td>
            <td>{{ issue.description|nl2br }}</td>
            <td>{{ issue.submissionDate|date }}</td>
            {% if issue.modificationDate == null %}
            <td>Never</td>
            {% else %}
            <td>{{ issue.modificationDate|date }}</td>
            {% endif %} {% if issue.severity == 1 %}
            <td>Low</td>
            {% elseif issue.severity == 2 %}
            <td>Medium</td>
            {% elseif issue.severity == 3 %}
            <td>High</td>
            {% elseif issue.severity == 4 %}
            <td>Critical</td>
            {% endif %} {% if issue.resolutionStatus == 1 %}
            <td>Solved<br>({{ issue.resolutionDate|date }})</td>
            <td>
                <a href="{{ path("app_details_showdetails", {"id": issue.id}) }}"><button>Details</button></a>
            </td>
            {% else %}
            <td>Not solved</td>
            <td>
                <a href="{{ path("app_update_showupdateissue", {"id": issue.id}) }}"><button>Update</button></a><br>
                <a href="{{ path("app_delete_showdeleteissue", {"id": issue.id}) }}"><button>Delete</button></a><br>

				<form method="POST" action="{{ path("app_delete_forcedeleteissue", {"id": issue.id}) }}">
					<button type="submit">Force delete</button>
				</form>
				<form method="POST" action="{{ path("app_solve_solveissue", {"id": issue.id}) }}">
					<button type="submit">Solve</button>
				</form>
                <a href="{{ path("app_details_showdetails", {"id": issue.id}) }}"><button>Details</button></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}